@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  padding-top: 70px;
}

.navbar-inverse{
  background: #140660;
}

.navbar-inverse{
  background: #140660;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.menu {
  transition: 0.4s;
  padding: 0 10px;
}

.menu:hover {
  background-color: #c3b8f9;
}

.btn-normal {
	color: #3c03b7;
	background: #f9f509;
	border: none;
}

.btn-normal:hover {
	background-color: #c3b8f9;
	border: none;
}

.envelope:hover {
  color: #f9f509;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 100%;
  width: auto;
  padding-left: 20px;
  padding-right: 15px;
}

.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer {
   width: 100%;
   background-color: #440277;
   color: white;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;
}

.welcome {
   display: block;
   color: #020f84;
   font-family: Amatic SC;
   font-size: 6rem;
   letter-spacing: 1.75rem;
   text-align: center;
   text-transform: none;
   margin-bottom: 30px;
   animation: moveInRight 8s ease-out;
}

.two {
	font-family: Cabin;
	font-size: 1.8rem;
    text-transform: none;
    color: black;
}

.three {
	font-family: Cabin;
	font-size: 1.8rem;
    text-transform: none;
    color: black;
    line-height: 1.35;
}

.fa-mobile {
    color: #f70014;
}

.fa-mobile-alt {
    color: #24ad14;
}

.fa-globe {
    color: #440277;
}

.bake1 {
    line-height: 1.385;
}

.bake2 {
    color: white;
}

.bake2:hover {
    color: #adf95c;
}

.bake3 {
    line-height: 1.3887;
}

h4 {
	text-align: center;
	font-family: Cabin;
	font-style: normal;
	font-size: 12px;
	line-height: normal;
}


h5{
   font-family: Cabin; 
   font-size: 12px;
   padding-bottom: 20px;
}

.social {
    padding: 20px 0px 20px 0px;
    text-align: center;
}

.social2 {
  max-width: 100%;
}

.logo {
    padding: 20px 0px 0px 0px;
    text-align: center;
}

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.row {
    text-align: center; 
}

.row2 {
    margin-right: 100px; 
    margin-left: 100px;
}

.header {
  padding: 20px 0px 60px 0px;
}

.head {
    color:#fffa00;
    font-family: Cabin; 
    font-size: 14px;
}

a:link {
    text-decoration: none;
}

a:hover {
   color: #63acf9; 
}

.global {
    color: black;
}

.global2 {
    color: black;
}

.weatherwidget-io {
    margin-top: -10px;
}


#contact {
	padding: 40px 0;
	color: #140660;
}

#contact .btn-default {
	border: 1px solid #f9d902;
	background-color: #f9d902;
	border-radius: 0;
}

#contact .btn-default:hover {
	color: #f9d902;
	background-color: #140660;
}


